body {
  font-family: sans-serif;
  text-align: center;
}

#col1 {
  float: left;
  width: 49%;
}

#titre {
  font-size: 75px;
}

#col2 {
  float: right;
  width: 49%;
}

#ajout{
  border: 3px black solid;
  border-radius: 10px;
}

h2 {
  font-size: xx-large;
  background-color: blue;
  border-radius: 10px;
  padding: 5px;
  width: 50%;
  margin-left: 25%;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#contenu {
  margin-top: 50px;
}

#txtcontenu {
  width: 90%;
}

#attention {
  color: red;
}

#FAQ {
  clear: both;
  text-align: left;
}

#marche {
  margin-left: 10%;
  font-size: 40px;
}

#explication {
  margin-left: 20px;
  width: 45%;
  float: left;
}

img {
  float: right;
  width: 49%;
}
